@model RedePapagaioWebApplication.Models.AjudaRealizada

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AjudaRealizada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAjuda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAjuda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocorrencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocorrencia.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAjuda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAjuda.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
